{% load static %}




<div class="container" data-aos="fade-up">
  <div class="row mb-3 text-center">
    
      <h3 style='font-family: "Poppins", sans-serif;'>A Profesional & Personalized Experience</h3>
    
    
      
    
  </div>

  <div class="row">
    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">

        <ul class='list-unstyled calls-to-action text-center' id='call-action'>
<!--            <li>-->
<!--                <h2 class='text-center'>What We'll Bring to the Table</h2>-->
<!--            </li>-->
            <li><i class="ri-check-double-line"></i><span class='fw-bold'>Experienced</span><br>We will carve out the best path to achieve your desired end goal.</li>
            <li><i class="ri-check-double-line"></i> With over two decades of combined experience, we guide you through the process of setting up and optimizing your software solutions to ensure seamless integration and efficiency.</li>

            <li><i class="ri-check-double-line"></i><span class='fw-bold'>Knowledgeable</span><br>Have questions about the process? We'll explain it in a way that suits your understanding.</li>
                        <li><i class="ri-check-double-line"></i> Voki Digital offers unique and personalized website development solutions. We work closely with you to create a captivating and functional website that truly showcases your brand and vision.</li>

            </ul>

    </div>
    <div class="col-lg-6 order-1 order-lg-2 position-relative d-flex align-items-center" data-aos="fade-left" data-aos-delay="100" id="justin-image-hover">



        <ul class='list-unstyled calls-to-action text-center' id='call-action'>


            <li><i class="ri-check-double-line"></i><span class='fw-bold'>Dependable</span><br>Always upfront and transparent, our team is here for nothing but hard work and dedication.</li>
                       <li><i class="ri-check-double-line"></i> Our personalized consultation services aim to transform your business into a successful online venture with a dedicated technical expert by your side throughout the process.</li>

            <li><i class="ri-check-double-line"></i><span class='fw-bold'>Top Quality Banter</span><br>Enjoy engaging and humorous interactions? We're here to make your experience enjoyable—no extra charge.</li>
        </ul>

    </div>
</div>



</div>








