{% load static %}
<div class="container" data-aos="fade-up">






                <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
      <div class="col-xl-6 col-md-4 hstack align-items-stretch justify-content-center text-light">
            <ul class='list-unstyled calls-to-action text-center' id='call-action'>
             <li>       <h2 class='text-center p-1'>Backend Software Developer, Website Developer & E-commerce Specialist</h2>
</li>

    <h4><i class="ri-check-double-line text-warning"></i><span class='fw-bold'>Experienced</span><br>Justin excels in designing and developing tailored software and e-commerce solutions, enabling small businesses to effectively manage online sales, streamline operations, and enhance customer interactions.</h4>
     <h4><i class="ri-check-double-line text-warning"></i><span class='fw-bold'>Knowledgeable</span><br>Justin seamlessly combines his software development expertise with a knack for witty banter, creating a productive and enjoyable environment that enhances customer experience and promotes creative problem-solving.</h4>
        </ul>
      </div>

           <div class="col-xl-6 col-md-4 hstack align-items-stretch justify-content-center text-light">
         <ul class='list-unstyled calls-to-action text-center' id='call-action'>
             <li><h2 class='text-center p-1'>Front End Developer, Website Developer & Graphics Specialist</h2></li>

      <li class='text-start'><i class="ri-check-double-line text-warning"></i><span class='fw-bold'>Experienced</span><br>Arek possesses advanced knowledge and skill in front-end development and graphic design, making him a go-to resource for creating visually stunning and highly functional web interfaces.</li>
      <li class='text-start'><i class="ri-check-double-line text-warning"></i><span class='fw-bold'>Delightful</span><br>Alongside Arek's technical expertise, he exhibits a delightful and engaging sense of humor, often infusing witty banter and light-heartedness into his interactions, making the experience enjoyable and relatable.</li>
        </ul>
      </div>




      </div>








      </div>