{% load static %}
<div class="container" data-aos="fade-up">

      <div class="row justify-content-center mt-5" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-10 col-lg-10">
          <h1 class="slide-in-left">Meet the Founders and Developers</h1>
            <h2 class="slide-in-left">Voki Digital brings you over 2 decades of combined experience in Software and Website Solutions with a team that has been close for the same</h2>
        </div>
      </div>
      <div class="row text-center mt-5">
<div class="col-xl-6 col-md-4">
  <h2 class="mb-3">Justin Perry</h2>
  <img src="{% static 'frontend/img/img-new/justin-image.jpg' %}" class="img-fluid mx-auto border border-2 rounded-4 h-25 w-auto img-hover" alt="">
  <div class='text-start p-4'>

    <h5 class='text-light mb-3'><i class="ri-check-double-line text-warning"></i><span class='mb-1'>Skilled</span> & <span class='mb-1'>Charming</span><br>Justin excels in creating customized software and e-commerce solutions, empowering small businesses to manage online sales, optimize operations, and improve customer engagement.</h5>
    <h5 class='text-light'>Justin combines his software development skills with a sense of humor, fostering a productive and enjoyable atmosphere that enhances customer satisfaction and encourages innovative problem-solving.</h5>
         <ul class="list-unstyled m-4 text-light fs-5">
            <li class="text-decoration-none">Backend Python Developer</li>
            <li class="text-decoration-none">Website Designer & Developer</li>
            <li class="text-decoration-none">E-commerce Expert</li>
        </ul>
  </div>
</div>

          <div class="col-xl-6 col-md-4">
  <h2 class="mb-3">Arek Chatmajian</h2>
<img src="{% static 'frontend/img/img-new/Headshot-Arek-3.1.png' %}" class="img-fluid mx-auto border border-2 rounded-4 h-25 w-auto img-hover" alt="">
  <div class='text-start p-4'>

    <h5 class='text-light mb-3'><i class="ri-check-double-line text-warning"></i><span class='mb-1'>Skilled</span> & <span class='mb-1'>Charming</span><br>Arek excels in crafting custom front-end solutions using React, along with exceptional graphics, helping small businesses create captivating and user-friendly web interfaces.</h5>
    <h5 class='text-light'>Arek combines his front-end development and graphic design skills with a sense of humor, fostering a productive and enjoyable atmosphere that enhances user satisfaction and encourages creative problem-solving.</h5>
             <ul class="list-unstyled m-4 text-light fs-5">
            <li class="text-decoration-none">Front-End React Developer</li>
            <li class="text-decoration-none">Website Designer & Developer</li>
            <li class="text-decoration-none">Brand Design Expert</li>
        </ul>
  </div>
</div>





        </div>
      </div>




      
    </div>