{% load static %}
<div class="container" data-aos="fade-up">

      <div class="row justify-content-center mt-5" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Owners & Developers<span>.</span></h1>
            <h2>Voki Digital brings you over 2 decades of combined experience in software, website and ecommerce solutions.</h2>
        </div>
      </div>
      <div class="row text-center mt-5">
      <div class="col-xl-6 col-md-4">
      <h2 class="mb-3">Justin Perry</h2>
              <img src="{% static 'frontend/img/img-new/justin-image.jpg' %}" class="img-fluid mx-auto border border-2 rounded-4 h-25 w-auto img-hover" alt="">
             <div class='text-start p-4'>
             <h2 class='text-center text-light p-1 m-3'>Backend Software Developer, Website Developer & E-commerce Specialist</h2>
       <h5 class='text-light mb-3'><i class="ri-check-double-line text-warning"></i><span class='mb-1'>Experienced</span><br>Justin excels in designing and developing tailored software and e-commerce solutions, enabling small businesses to effectively manage online sales, streamline operations, and enhance customer interactions.</h5>
       <h5 class='text-light'><i class="ri-check-double-line text-warning"></i><span class='mb-1'>Delightful</span><br>Justin seamlessly combines his software development expertise with a knack for witty banter, creating a productive and enjoyable environment that enhances customer experience and promotes creative problem-solving.</h5>
       </div>
      </div>


      <div class="col-xl-6 col-md-4">
        <h2 class="mb-3">Arek Chatmajian</h2>
                <img src="{% static 'frontend/img/img-new/star.jpg' %}" class="img-fluid mx-auto border border-2 rounded-4 h-25 w-auto img-hover" alt="">
          <div class='text-start p-4'>
             <h2 class='text-center p-1 m-3'>Front End Developer, Website Developer & Graphics Specialist</h2>
       <h5 class='text-light mb-3'><i class="ri-check-double-line text-warning"></i><span class='mb-1'>Experienced</span><br>Arek excels in designing and developing tailored front-end solutions using React, along with stunning graphics, enabling small businesses to create engaging and user-friendly web interfaces.</h5>
<h5 class='text-light'><i class="ri-check-double-line text-warning"></i><span class='mb-1'>Delightful</span><br>Arek seamlessly combines his front-end development and graphics expertise with a knack for witty banter, creating a productive and enjoyable environment that enhances user experience and promotes creative problem-solving.</h5>
       </div>

        </div>
      </div>




      
    </div>