{% load static %}
<div class="container my-5">
    <h2 class="text-center mb-4">Technologies We Use</h2>
    <div class="row justify-content-center">
        <div class="col-6 col-md-2 text-center">
            <img src="https://static.djangoproject.com/img/logos/django-logo-negative.svg" class="tech-logo img-fluid" alt="Django Logo">
            <p class="mt-2">Django</p>
        </div>
        <div class="col-6 col-md-2 text-center">
            <img src="https://www.python.org/static/community_logos/python-logo.png" class="tech-logo img-fluid" alt="Python Logo">
            <p class="mt-2">Python</p>
        </div>
        <div class="col-6 col-md-2 text-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg" class="tech-logo img-fluid" alt="React Logo">
            <p class="mt-2">React</p>
        </div>
        <div class="col-6 col-md-2 text-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" class="tech-logo img-fluid" alt="JavaScript Logo">
            <p class="mt-2">JavaScript</p>
        </div>
        <div class="col-6 col-md-2 text-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/8e/Nextjs-logo.svg" class="tech-logo img-fluid" alt="Next.js Logo">
            <p class="mt-2">Next.js</p>
        </div>
    </div>
</div>
